@media screen and (max-width: 1580px) {
  .header-main-wrapper {
    .burger-helps {
      width: 194px;
    }
  }
}

@media screen and (max-width: 1450px) {
  .header-main-wrapper {
    .burger-helps {
      width: 140px;
    }
  }
}

@media screen and (max-width: 1249px) {

  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          position: relative;
          .non-adaptive-house {
            display: none;
          }
          .adaptive-house {
            display: block;
            margin: 0 auto;
          }
          .tech-choose-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 290px;
            &.tcw1 {
              left: calc(50% - 62px);
              top: calc(50% - 80px);
              .tech-choose-item {
                display: none;
              }
            }
            &.tcw2 {
              left: calc(50% - 51px);
              top: calc(50% - -37px);
              .tech-choose-item {
                display: none;
              }
            }
            &.tcw3 {
              left: calc(50% - 214px);
              top: calc(50% - -250px);
              .tech-choose-item {
                display: block;
              }
            }
            &.tcw4 {
              left: calc(50% - 249px);
              top: calc(50% - -85px);
              .tech-choose-item {
                display: none;
              }
            }
            &.tcw5 {
              left: calc(50% - 228px);
              top: calc(50% - 85px);
              .tech-choose-item {
                display: none;
              }
            }

            .tech-choose {
              position: absolute;
              left: calc(50% - 15px);
              top: -45px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-width: 1px;
              border-color: rgb(236, 198, 107);
              border-style: solid;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              &.tc-active {
                border-color: #fcedcb;
                .tech-choose-circle {
                  background-color: #fcedcb;
                }
              }

              .tech-choose-circle {
                border-radius: 50%;
                background-color: rgb(236, 198, 107);
                box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.004);
                width: 22px;
                height: 22px;
              }
            }
            .tech-choose-item {
              z-index: 3;
              padding: 20px 16px;
              background-color: #313139;
              position: relative;
              &:before {
                content: "";
                border: solid transparent;
                position: absolute;
                bottom: 100%;
                left: 50%;
                border-bottom-color: #313139;
                border-width: 15px;
                margin-left: -15px;
              }
              .tech-choose-item-title {
                font-size: 18px;
                font-weight: 500;
                color: rgb(255, 255, 255);
                margin-bottom: 16px;
              }
              .tech-choose-item-description {
                font-size: 16px;
                font-weight: 100;
                color: rgb(255, 255, 255);
                line-height: 1.313;
              }
            }
          }

          .tech-choose-description {
            display: none;
            margin-top: 5px;
            padding: 20px 16px;
            background-color: #313139;
            position: relative;
            &:before {
              content: "";
              border: solid transparent;
              position: absolute;
              bottom: 100%;
              left: 50%;
              border-bottom-color: #313139;
              border-width: 15px;
              margin-left: -15px;
            }
            .tech-choose-item {
              .tech-choose-item-title {
                font-size: 18px;
                font-weight: 500;
                color: rgb(255, 255, 255);
                margin-bottom: 16px;
              }
              .tech-choose-item-description {
                font-size: 16px;
                font-weight: 100;
                color: rgb(255, 255, 255);
                line-height: 1.286;
              }
            }
          }
          .tech-item {
            display: none;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1229px) {
  main{
    .slider-section {
      .container {
        .slider-wrapper {
          .slider {
            padding-top: 0;
            padding-bottom: 30px;
            .slider-item {
              text-align: center;
              .img-descr {
                width: unset;
                text-align: left;
              }
              &.vl-slide-center {
                padding-right: 0!important;
                position: static;
                top: 0;
                left: 0;
                img {
                  position: static;
                  max-width: 100%;
                }
                .img-descr {
                  position: static;
                  max-width: 100%;
                  //padding: 0 50px;
                }
              }
              &.vl-slide-prev {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
    .guarantee {
      .container {
        .guarantee-block {
          flex-direction: column;
          .gb-item {
            margin-bottom: 20px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1195px) {
  main {
    .consultation {
      .container {
        flex-direction: column;
        .consultation-image {
          display: none;
        }
        .consultation-text {
          h2 {
            margin-top: 20px;
          }
        }
      }
    }
    .building-projects {
      .container {
        max-width: 588px;
        padding-left: 15px;
        padding-right: 15px;
        #our-projects {
          margin-bottom: 50px;
        }
        .project-item-adaptive-title {
          text-align: left;
          display: block;
          font-size: 30px;
          font-weight: 500;
          color: rgb(255, 255, 255);
          margin-bottom: 25px;
          &.adaptive-more-pr {
            display: none;
          }
          &.at-active {
            display: block;
          }
        }
        .project-item {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 90px;
          //padding: 0 15px;
          .project-text {
            order: 0;
            &:nth-child(odd) {
              max-width: 588px;
              margin-top: 30px;

            }
            &:nth-child(even) {
              max-width: 588px;
              margin-top: 30px;
            }
            .project-text-title {
              display: none;
            }
            .project-text-actions {
              max-width: 588px;
              .btn {
                width: 100%;

                margin-left: auto;
                margin-right: auto;
              }
            }
            .project-text-circles:nth-child(odd) {
              max-width: 588px;
            }
          }
          .project-photos {
            order: -1;
            max-width: 100%;
          }
        }
      }
    }
  }

}


@media screen and (max-width: 1135px) {
  main {
    .steps {
      .container {
        .steps-items {
          grid-template-columns: 309px 338px;
          gap: 151px 40px;
          justify-content: center;
        }
      }
    }
  }

}

@media screen and (max-width: 1112px) {
  .header-main-wrapper {
    .building-description {
      .container {
        .flip-wrapper-2 {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1059px) {
  main {
    .guarantee {
      .container {
        .guarantee-block {
          margin-bottom: 20px;
        }
        .guarantee-circles {
          flex-direction: column;
          .gc-item {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 999px) {
  main {
    .slider-section {
      .container {
        .swiper {
          .swiper-button-prev {
            display: none;
          }
          .swiper-button-next {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 895px) {
  main {
    .guarantee {
      margin-bottom: 100px;
      .container {
        .guarantee-circles {
          margin-bottom: 54px;
          .gc-item {
            &.gci3 {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .reg-map {
      .container {
        padding-bottom: 90px;
      }
    }
  }
  footer {
    .container {
      flex-direction: column;
      padding-bottom: 85px;
      .footer-logo-links {
        margin-bottom: 50px;
        order: 1;
        .links {
          margin-top: 45px;
        }
      }
      .footer-address-time {
        margin-bottom: 49px;
        order: 2;
        text-align: center;
      }
      .header-call {
        order: 3;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  main {
    .steps {
      .container {
        h2 {
          font-size: 30px;
          line-height: 1.333;
        }
        .steps-items {
          grid-template-columns: 288px;
          gap: 101px 0;
          justify-content: center;
          .step-item {
            &:nth-child(1) {
              .step-item-text {
                max-width: 220px;
              }
            }
            &:nth-child(2) {
              .step-item-text {
                max-width: 215px;
              }
            }
            &:nth-child(5) {
              .step-item-text {
                max-width: 205px;
              }
            }
            .step-item-text {
              .item-text-title {
                font-size: 16px;
              }
              .item-text-description {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .slider-section {
      .container {
        .slider-wrapper {
          .slider {
            .slider-item {
              .img-descr {
                .descr-left {
                  .descr-left-title {
                    font-size: 14px;
                  }
                  .descr-left-description {
                    font-size: 14px;
                  }
                }
                .descr-right {
                  .descr-right-dimensions {
                    font-size: 14px;
                  }
                  .descr-right-area {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .header-main-wrapper {
    .header {
      padding: 48px 0;
      .container {
        .header-call {
          display: none;
        }
      }
    }
    .building-description {
      margin-top: 146px;
      .container {
        .flip-wrapper-1 {
          display: none;
        }
      }
    }
    .burger-helps {
      width: 15px;
    }
  }
  main {
    .guarantee {
      .container {
        .guarantee-actions {
          max-width: 407px;
          margin-left: auto;
          margin-right: auto;
          .btn {
            width: 100%;
          }
        }
      }
    }
    .reg-map {
      .container {
        .rm-text-wrapper {
          .btn {
            max-width: 306px;
          }
        }
      }
    }
    .consultation {
      .container {
        .consultation-text {
          .order-form-item {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 590px) {
  main {
    .building-projects {
      .container {
        .project-item {
          .project-photos {
            .project-photos-block {
              .project-photos-block-item {
                max-width: 120px;
              }
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 588px) {
  main {
    .guarantee {
      .container {
        .guarantee-block {
          max-width: 588px;
          .gb-item {
            width: 100%;
            padding-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  main {
    .guarantee {
      .container {
        .guarantee-block {
          .gb-item {
            .gb-item-image {
              margin-right: 20px;
              max-width: 35px;
            }
            .gb-item-text {
              .gb-item-text-title {
                font-size: 16px;
                font-weight: 500;
                color: rgb(255, 255, 255);
              }
              .gb-item-text-description {
                font-size: 14px;
                font-weight: 100;
                color: rgb(255, 255, 255);
                line-height: 1.357;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 516px) {
  .header-main-wrapper {
    .building-description {
      .container {
        .building-description-wrapper {
          h1 {
            font-size: 26px;
            font-family: "Neumann", sans-serif;
            color: rgb(236, 198, 107);
            line-height: 1.231;
          }
          .building-description-text {
            font-size: 14px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            line-height: 1.286;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 489px) {
  main {
    .slider-section {
      .container {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .img-descr {
                .descr-left {
                  .descr-left-title {
                    font-size: 14px;
                  }
                  .descr-left-description {
                    font-size: 14px;
                  }
                }
                .descr-right {
                  .descr-right-dimensions {
                    font-size: 14px;
                  }
                  .descr-right-area {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 425px) {
  main {
    .building-projects {
      .container {
        .project-item-adaptive-title {
          font-size: 18px;
        }
        .project-item {
          .project-text {
            .project-text-description {
              font-size: 14px;
              line-height: 1.357;
            }
          }
        }
      }
    }
    .reg-map {
      .container {
        .rm-text-wrapper {
          h2 {
            font-size: 30px;
            font-family: "Neumann", sans-serif;
            color: rgb(236, 198, 107);
            line-height: 1.333;
          }
          .reg-map-description {
            font-size: 16px;
            font-weight: 500;
            color: rgb(255, 255, 255);
          }
          .btn {
            width: unset;
          }
        }
      }
    }
    .consultation {
      .container {
        .consultation-text {
          .cons-text-order {
            font-size: 30px;
            font-family: "Neumann", sans-serif;
            color: rgb(236, 198, 107);
            line-height: 1.333;
          }
          .order-form-item {
            margin-left: auto;
            margin-right: auto;
            input {
              width: 100%;
            }
          }
        }
      }
    }
    .guarantee {
      .container {
        .guarantee-actions {
          max-width: 407px;
          margin-left: auto;
          margin-right: auto;
          .btn {
            width: 100%;
            span {
              font-size: 14px;
              font-weight: 700;
              color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  main {
    .building-projects {
      .container {
        .project-item {
          .project-photos {
            .project-photos-block {
              .project-photos-block-item {
                max-width: 84px;
              }
            }
          }
          .project-text {
            .project-text-circles {
              .circles-item {
                width: 85px;
                height: 85px;
                span {
                  font-size: 15px;
                  line-height: 1.667;
                }
              }
            }
            .project-text-actions {
              .btn {
                span {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header-main-wrapper {
    .building-description {
      .container {
        .building-description-wrapper {
          .btn {
            width: 228px;
          }
        }
      }
    }
  }
  main {
    .slider-section {
      .container {
        .slider-wrapper {
          .slider {
            .slider-item {
              .img-descr {
                padding: 15px 8px;
                .descr-left {
                  .descr-left-title {
                    font-size: 14px;
                  }
                  .descr-left-description {
                    font-size: 14px;
                  }
                }
                .descr-right {
                  .descr-right-dimensions {
                    font-size: 14px;
                  }
                  .descr-right-area {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// сдвиги для tech-choose

@media screen and (max-width: 574px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw4 {
              left: calc(50% - 235px);
              top: calc(50% + 76px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw5 {
              left: calc(50% - 211px);
              top: calc(50% - 73px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 566px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 75px);
              top: calc(50% - 79px);
            }
            &.tcw3 {
              left: calc(50% - 207px);
              top: calc(50% + 231px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 558px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw2 {
              left: calc(50% - 74px);
              top: calc(50% + 28px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 542px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 88px);
              top: calc(50% - 70px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw4 {
              left: calc(50% - 217px);
              top: calc(50% + 76px);
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 526px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw3 {
              left: calc(50% - 203px);
              top: calc(50% + 217px);
            }
            &.tcw5 {
              left: calc(50% - 194px);
              top: calc(50% - 65px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 494px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 100px);
              top: calc(50% - 62px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw3 {
              left: calc(50% - 198px);
              top: calc(50% + 201px);
            }
            &.tcw4 {
              left: calc(50% - 207px);
              top: calc(50% + 67px);
            }
            &.tcw5 {
              left: calc(50% - 183px);
              top: calc(50% - 52px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 458px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 116px);
              top: calc(50% - 56px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 442px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw2 {
              left: calc(50% - 64px);
              top: calc(50% + 33px);
              width: 245px;
            }
            &.tcw4 {
              left: calc(50% - 188px);
              top: calc(50% + 67px);
            }

          }
        }
      }
    }
  }
}

@media screen and (max-width: 434px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw3 {
              left: calc(50% - 191px);
              top: calc(50% + 180px);
            }
            &.tcw5 {
              left: calc(50% - 169px);
              top: calc(50% - 44px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 416px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 136px);
              top: calc(50% - 45px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 406px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw4 {
              left: calc(50% - 174px);
              top: calc(50% + 66px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw3 {
              left: calc(50% - 162px);
              top: calc(50% + 167px);
              width: 258px;
            }
            &.tcw5 {
              left: calc(50% - 158px);
              top: calc(50% - 34px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 377px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw2 {
              left: calc(50% - 88px);
            }
            &.tcw4 {
              left: calc(50% - 164px);
              top: calc(50% + 61px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 354px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw1 {
              left: calc(50% - 152px);
              top: calc(50% - 29px);
            }
            &.tcw3 {
              left: calc(50% - 165px);
              top: calc(50% + 156px);
            }
            &.tcw5 {
              left: calc(50% - 146px);
              top: calc(50% - 29px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 342px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw3 {
              left: calc(50% - 155px);
              top: calc(50% + 156px);
            }
            &.tcw4 {
              left: calc(50% - 153px);
              top: calc(50% + 58px);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 342px) {
  main {
    .buildings-technology {
      .container {
        .tech-wrapper {
          .tech-choose-wrapper {
            &.tcw5 {
              left: calc(50% - 136px);
              top: calc(50% - 29px);
            }
          }
        }
      }
    }
  }
}

