@import "private_reset";
@import "magnific-popup";
@import "jquery-ui.theme";

@font-face {
  font-family: Neumann;
  src: url("../fonts/td-neumann.otf");
}

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansCyrl100.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl100.woff") format("woff");
  font-weight: 100;
}

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansCyrl300.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansCyrl500.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: MuseoSansCyrl;
  src: url("../fonts/MuseoSansCyrl700.ttf") format("truetype"),
  url("../fonts/MuseoSansCyrl700.woff") format("woff");
  font-weight: bold;
}

body {
  background-color: #25252d;
  font-family: MuseoSansCyrl, sans-serif;
}

.container {
  max-width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.btn {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 60px;
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.btn-gradient {
  background-image: -moz-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  background-image: -webkit-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  background-image: -ms-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);

  .btn-text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(37, 37, 45);
  }
}

.btn-transparent {
  background: transparent;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;

  .btn-text {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
}

.loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
  .lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}

.order-agree-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .checkbox-block {
    input[type="checkbox"] {
      display: none;

      &:checked + label {
        &::before {
          content: url("../../images/main/tick.png");
        }
      }
    }

    label {
      padding-left: 10px;
      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: transparent;
        vertical-align: middle;
        margin-left: -10px;
        margin-right: 10px;
        transition: 0.2s;
        border-width: 1px;
        border-color: rgb(255, 255, 255);
        border-style: solid;
      }
      &.error-border{
        &::before {
          border-color: red;
        }
      }
    }
  }
  .checkbox-description {
    margin-left: 20px;
    max-width: 308px;
    font-size: 14px;
    font-weight: 100;
    color: rgb(255, 255, 255);
    line-height: 1.286;
    a {
      text-decoration: none;
      font-weight: 500;
      color: rgb(255, 255, 255);
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header-call {
  display: flex;
  flex-direction: column;
  max-width: 170px;

  .header-call-text {
    margin-bottom: 13px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.833;
  }

  .header-call-action {
    text-align: right;
    position: relative;

    .call-action {
      font-size: 16px;
      text-decoration: none;
      color: rgb(236, 198, 107);
      line-height: 0.938;
      font-weight: bold;
      position: relative;

      &::before {
        content: url('../../images/main/header-effect.png');
        display: none;
        position: absolute;
        top: -18px;
        left: -46px;
      }

      &::after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #ecc66b;
        content: "";
        transition: width 0.3s ease-out;
      }

      &:focus {
        &::after {
          width: 100%;
        }
      }

      &:hover {
        &::before {
          display: block;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}


.order-form-cl {
  text-align: left;
  margin: 0 auto;
  max-width: 407px;

  .order-form-item {
    position: relative;
    margin-bottom: 20px;

    .order-input {
      box-sizing: border-box;
      padding: 23px 25px;
      width: 409px;
      border-width: 1px;
      border-color: rgb(255, 255, 255);
      border-style: solid;
      background-color: transparent;
      border-radius: 30px;
      color: white;

      &::placeholder {
        font-size: 18px;
        font-weight: 300;
        color: rgb(255, 255, 255);
      }
    }

    .error-input {
      position: absolute;
      top: 66px;
      left: 0;
      color: red;
      display: none;
    }
  }
}

.header-main-wrapper {
  position: relative;
  background-image: url("../../images/main/header-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  margin-bottom: 144px;

  &::after {
    content: '';
    display: block;
    height: 115px;
    width: 100%;
    background: linear-gradient(transparent, #25252d);
  }

  .header {
    border-bottom: 1px solid #363d51;
    padding: 21px 0;

    .container {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .burger {
        cursor: pointer;
      }

      .logo {
        position: absolute;
        left: calc(50% - 45px);
        top: calc(50% - 30px);
      }
    }
  }

  .building-description {
    margin-top: 162px;
    text-align: center;
    padding-bottom: 120px;

    .container {
      position: relative;

      .building-description-wrapper {
        max-width: 634px;
        margin: 0 auto;

        h1 {
          font-size: 50px;
          font-family: "Neumann", sans-serif;
          color: rgb(236, 198, 107);
          margin-bottom: 25px;
        }

        .building-description-text {
          font-size: 18px;
          color: rgb(255, 255, 255);
          font-weight: bold;
          margin-bottom: 40px;
        }

        .btn {
          margin: 0 auto;
          width: 300px;
          height: 60px;
        }
      }

      .flip-wrapper-1 {
        cursor: pointer;
        .building-text-flip {
          position: absolute;
          left: -39px;
          top: 285px;
          font-size: 18px;
          font-weight: 500;
          color: rgb(186, 186, 186);
          -moz-transform: matrix(0, -1, 1, 0, 0, 0);
          -webkit-transform: matrix(0, -1, 1, 0, 0, 0);
          -ms-transform: matrix(0, -1, 1, 0, 0, 0);
        }

        .flip-arrow {
          position: absolute;
          left: 15px;
          top: 385px;
        }
      }

      .flip-wrapper-2 {
        display: flex;
        flex-wrap: wrap;
        max-width: 31px;
        position: absolute;
        right: 15px;
        top: 40px;

        a {
          margin-bottom: 30px;

          &:hover {
            svg {
              opacity: 0.9;
            }
          }

          &.instagram-svg {
            svg {
              path {
                color: #ffffff;
              }
            }
          }

          &.youtube-svg {
            svg {
              fill: white;
            }
          }
        }
      }
    }
  }
  .burger-menu-wrapper {
    z-index: 2;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    height: 100%;
    .container {
      height: 100%;
      .burger-menu {
        height: 100%;
        background-color: #25252d;
        padding: 35px 66px 0 0;
        max-width: 227px;
        .popup-close {
          cursor: pointer;
        }
        h2 {
          font-size: 40px;
          font-family: "Neumann", sans-serif;
          color: rgb(255, 255, 255);
          margin-top: 51px;
          margin-bottom: 60px;
        }
        .header-menu {
          z-index: 2;
          margin-bottom: 41px;
          ul {
            padding-left: 0;
            list-style: none;
            li {
              color: #ecc66b;
              margin-bottom: 30px;
              a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 300;
                color: rgb(255, 255, 255);
              }
              &:hover {
                list-style-type: disc;
                margin-left: 17px;
                a {
                  color: #ecc66b;
                }
              }
              ::marker {
                color: #003eff;
              }
            }
          }
        }
        .links {
          width: 161px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          a {
            text-decoration: none;

            &:hover {
              svg {
                opacity: 0.9;
              }
            }

            &.instagram-svg {
              svg {
                path {
                  color: #ffffff;
                }
              }
            }

            &.youtube-svg {
              svg {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
  .burger-helps {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #25252d;
    content: "";
    width: 423px;
    z-index: 1;
  }
}

main {
  .building-projects {
    margin-bottom: 121px;

    .container {
      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "Neumann", sans-serif;
        color: rgb(236, 198, 107);
        margin-bottom: 70px;
      }
      .project-item-adaptive-title{
        display: none;
      }
      .project-item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 120px;
        &.pi-hidden {
          display: none;
        }
        .project-photos {
          max-width: 588px;
          display: flex;
          flex-wrap: wrap;

          .project-photos-big-photo {
            margin-bottom: 24px;
          }

          .project-photos-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 588px;
          }
        }

        .project-text {
          &:nth-child(even) {
            max-width: 486px;
          }

          &:nth-child(odd) {
            max-width: 510px;
          }

          .project-text-title {
            font-size: 30px;
            color: rgb(255, 255, 255);
            font-weight: 500;
            margin-bottom: 40px;
          }

          .project-text-description {
            font-size: 18px;
            color: rgb(255, 255, 255);
            line-height: 1.278;
            font-weight: 300;
            margin-bottom: 50px;
          }

          .project-text-circles {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;

            &:nth-child(odd) {
              max-width: 486px;
            }

            .circles-item {
              display: flex;
              justify-content: center;
              align-items: center;
              background: transparent;
              border-width: 1px;
              border-color: rgb(236, 198, 107);
              border-style: solid;
              border-radius: 50%;
              width: 108px;
              height: 108px;

              span {
                text-align: center;
                max-width: 75px;
                font-size: 20px;
                color: rgb(236, 198, 107);
                line-height: 1.25;
                font-weight: 500;
              }
            }
          }

          .project-text-actions {
            .btn {
              width: 365px;
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .show-wrapper {
        margin-top: -57px;
        #less-projects {
          svg {
            transform: rotate(180deg);
          }
        }
        .show-more-projects {
          display: flex;
          text-align: center;
          justify-content: center;
          text-decoration: none;
          span {
            font-size: 18px;
            font-weight: 500;
            color: rgb(137, 137, 138);
          }
          svg {
            margin-left: 10px;
            fill: rgb(137, 137, 138);
          }
          &.close-mp {
            display: none;
          }
        }


      }
    }
  }

  .buildings-technology {
    margin-bottom: 224px;

    .container {
      position: relative;

      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "Neumann", sans-serif;
        color: rgb(236, 198, 107);
        margin-bottom: 83px;
      }

      .tech-wrapper {
        max-width: 695px;
        margin: 0 auto;
        .tech-choose-wrapper {
          .tech-choose {
            &.tc1 {
              left: calc(50% + 80px);
            }
            &.tc4 {
              left: calc(50% - 119px);
            }
            &.tc5 {
              left: calc(50% - 119px);
            }

          }
          .tech-choose-item {
            display: none;
            &.tci1::before {
              margin-left: 80px;
            }
            &.tci4::before {
              margin-left: -119px;
            }
            &.tci5::before {
              margin-left: -119px;
            }
          }
        }
        .adaptive-house {
          display: none;
        }

        .tech-item {
          text-align: left;
          position: absolute;

          .tech-item-title {
            font-size: 18px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            margin-bottom: 16px;
          }

          .tech-item-description {
            font-size: 16px;
            font-weight: 100;
            color: rgb(255, 255, 255);
            line-height: 1.313;
          }

          &.ti1 {
            max-width: 270px;
            left: 992px;
            top: 261px;
          }

          &.ti2 {
            max-width: 239px;
            left: 963px;
            top: 457px;
          }

          &.ti3 {
            max-width: 230px;
            left: 677px;
            top: 627px;
          }

          &.ti4 {
            max-width: 239px;
            left: 102px;
            top: 476px;
          }

          &.ti5 {
            max-width: 269px;
            left: 48px;
            top: 234px;
          }
        }
      }
    }
  }

  .steps {
    margin-bottom: 120px;

    .container {
      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "Neumann", sans-serif;
        color: rgb(236, 198, 107);
        margin-bottom: 121px;
      }

      .steps-items {
        display: grid;
        align-items: center;
        justify-items: end;
        //grid-template-columns: minmax(285px,408px) minmax(335px, 408px) minmax(265px, 282px);
        grid-template-columns: 408px 408px 282px;
        justify-content: end;
        gap: 151px 0;

        .step-item {
          position: relative;
          justify-self: start;
          display: flex;
          align-items: flex-start;

          .bg-img {
            position: absolute;
            left: -5px;
            top: -47px;
            z-index: -1;
          }

          .step-item-image {
            margin-right: 18px;
          }

          .step-item-text {
            .item-text-title {
              font-size: 18px;
              font-weight: 500;
              color: rgb(255, 255, 255);
              margin-bottom: 10px;
            }

            .item-text-description {
              font-size: 18px;
              font-weight: 100;
              color: rgb(255, 255, 255);
              line-height: 1.278;

              span {
                font-weight: 700;
                text-decoration: underline;
              }
            }
          }

          &:nth-child(1) {
            .step-item-text {
              max-width: 241px;
            }
          }

          &:nth-child(2) {
            .step-item-text {
              max-width: 271px;
            }
          }

          &:nth-child(3) {
            .step-item-text {
              max-width: 203px;
            }
          }

          &:nth-child(4) {
            .step-item-text {
              max-width: 195px;
            }
          }

          &:nth-child(5) {
            .step-item-text {
              max-width: 242px;
            }
          }

          &:nth-child(6) {
            .step-item-text {
              max-width: 173px;
            }
          }
        }
      }
    }
  }

  .slider-section {
    margin-bottom: 120px;
    .container {
      h2 {
        font-size: 40px;
        font-family: "Neumann", sans-serif;
        color: rgb(236, 198, 107);
        margin-bottom: 80px;
        text-align: center;
      }
      .swiper {
        padding-bottom: 40px;
        width: 100%;
        .swiper-wrapper {
          .swiper-slide {
            font-size: 22px;
            font-weight: bold;
            color: #fff;
            .img-descr {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 15px 20px;
              width: 100%;
              background-color: #313139;
              .line-up {
                content: "";
                width: 1px;
                height: 56px;
                border-left: 1px solid white;
                margin-right: 7px;
                margin-left: 7px;
              }
              .descr-left {
                .descr-left-title {
                  font-size: 18px;
                  font-weight: 500;
                  color: rgb(255, 255, 255);
                  margin-bottom: 20px;
                }
                .descr-left-description {
                  font-size: 16px;
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                }
              }
              .descr-right {
                .descr-right-dimensions {
                  font-size: 16px;
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                  margin-bottom: 20px;
                  span {
                    font-weight: 500;
                  }
                }
                .descr-right-area {
                  font-size: 16px;
                  font-weight: 300;
                  color: rgb(255, 255, 255);
                  span {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }
        .swiper-pagination {
          .swiper-pagination-bullet {
            font-size: 0;
            box-sizing: border-box;
            width: 10px;
            height: 10px;
            padding: 0;
            border-width: 1px;
            border-color: rgb(236, 198, 107);
            border-style: solid;
            background-color: transparent;
            border-radius: 50%;
            margin-right: 8px;
            margin-left: 8px;
            &.swiper-pagination-bullet-active {
              background-color: rgb(236, 198, 107);
            }
          }
        }
        .swiper-button-prev {
          width: 50px;
          cursor: pointer;
          svg {
            fill: #ecc66b;
            width: 50px;
            transform: rotate(-90deg);
            &:hover {
              fill: #ecbe54;
            }
          }
          &::after {
            display: none;
            content: unset;
          }
        }
        .swiper-button-next {
          width: 50px;
          cursor: pointer;
          svg {
            fill: #ecc66b;
            width: 50px;
            transform: rotate(90deg);
            &:hover {
              fill: #ecbe54;
            }
          }
          &::after {
            display: none;
            content: unset;
          }
        }
      }
    }
  }

  .guarantee {
    margin-bottom: 121px;

    .container {
      h2 {
        text-align: center;
        font-size: 40px;
        font-family: "Neumann", sans-serif;
        color: rgb(236, 198, 107);
        margin-bottom: 70px;
      }

      .guarantee-block {
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gb-item {
          box-sizing: border-box;
          background-color: #313139;
          padding: 30px 40px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 588px;

          .gb-item-image {
            margin-right: 41px;
          }

          .gb-item-text {
            max-width: 379px;

            .gb-item-text-title {
              font-size: 18px;
              font-weight: 500;
              color: rgb(255, 255, 255);
              margin-bottom: 15px;
            }

            .gb-item-text-description {
              font-size: 18px;
              font-weight: 100;
              color: rgb(255, 255, 255);
              line-height: 1.278;
            }
          }
        }
      }

      .guarantee-circles {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 60px;

        .gc-item {
          .gc-item-img {
            width: 140px;
            height: 140px;
            border-width: 1px;
            border-color: rgb(236, 198, 107);
            border-style: solid;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 30px auto;
          }

          .gc-item-title {
            font-size: 18px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            margin-bottom: 15px;
          }

          .gc-item-description {
            font-size: 18px;
            font-weight: 100;
            color: rgb(255, 255, 255);
            line-height: 1.278;
          }

          &.gci1 {
            max-width: 279px;
          }

          &.gci2 {
            max-width: 269px;
          }

          &.gci3 {
            max-width: 257px;
          }
        }
      }

      .guarantee-actions {
        a {
          margin: 0 auto;
          width: 588px;
        }
      }
    }
  }

  .consultation {
    margin-bottom: 78px;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .consultation-image {
        max-width: 666px;
      }

      .consultation-text {
        max-width: 512px;
        text-align: center;

        h2 {
          font-size: 40px;
          font-family: "Neumann", sans-serif;
          color: rgb(236, 198, 107);
          line-height: 1.35;
          margin-bottom: 40px;
        }
        .order-success {
          transition: width 0.3s ease-out;
          display: none;
          max-width: 409px;
          margin: 0 auto;
        }
      }
    }
  }

  .reg-map {
    .container {
      padding-top: 190px;
      padding-bottom: 160px;
      background-image: url("../../images/main/reg-map.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;

      .rm-text-wrapper {
        max-width: 441px;
        margin: 0 auto;

        h2 {
          font-size: 60px;
          font-family: "Neumann", sans-serif;
          color: rgb(236, 198, 107);
          line-height: 1.167;
          margin-bottom: 30px;
        }

        .reg-map-description {
          font-size: 18px;
          font-weight: 500;
          color: rgb(255, 255, 255);
          line-height: 1.278;
          margin-bottom: 40px;
        }

        .btn {
          width: 306px;
          margin: 0 auto;
        }
      }
    }
  }
  .reg-popup {
    z-index: 9999;
    width:100%;
    min-height:100%;
    background-color: rgba(11, 11, 12, 0.761);
    overflow:hidden;
    position:fixed;
    top:0;
    display: none;
    align-items: center;
    justify-content: center;
    .reg-popup-content {
      opacity: 1;
      padding: 50px 74px 58px 74px;
      background-image: url("../../images/main/reg-bg.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      h3 {
        font-size: 18px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        line-height: 1.278;
        text-align: center;
        max-width: 407px;
        margin-bottom: 30px;
      }
      #reg-success {
        max-width: 407px;
        h2 {
          text-align: center;
          font-size: 18px;
          font-weight: 700;
          color: rgb(255, 255, 255);
          line-height: 1.278;

        }
      }
      .popup-close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        svg {
          path {
            fill: white;
          }
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #2f2f38;

  .container {
    padding-top: 50px;
    padding-bottom: 118px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-address-time {
      max-width: 272px;

      .footer-address {
        font-size: 18px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        margin-bottom: 30px;
      }

      .footer-time {
        font-size: 18px;
        font-weight: 500;
        color: rgb(255, 255, 255);
      }
    }

    .footer-logo-links {
      .logo {
        img {
          margin: 0 auto;
        }
      }

      .links {
        margin-top: 54px;
        width: 161px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          text-decoration: none;

          &:hover {
            svg {
              opacity: 0.9;
            }
          }

          &.instagram-svg {
            svg {
              path {
                color: #ffffff;
              }
            }
          }

          &.youtube-svg {
            svg {
              fill: white;
            }
          }
        }
      }
    }
  }
}

@import "adaptive";
